{% extends "base.html" %}

{% block page_content %}
{% load markdown_extras %}
<div class="text-center"><h1 style="background-color: black; color: white; padding-top: 10; padding-bottom: 10; font-size: x-large;">✨A Comprehensive Guide To Using PostgreSQL✨</h1></div>


<div class="col-md-8 offset-md-2">

    <h1>Blog Index</h1>

    <hr>

    {% for post in posts %}

    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>

    <small>

        {{ post.created_on.date }} |&nbsp;

        Categories:&nbsp;

        {% for category in post.categories.all %}

        <a href="{% url 'blog_category' category.names %}">

            {{ category.name }}

        </a>&nbsp;

        {% endfor %}

    </small>

    <p>{{ post.body | markdown | safe | slice:":200" }}...</p>

    {% endfor %}

</div>

{% endblock %}