attr==0.3.2
attrs==21.2.0
bpython==0.24
brotli==1.0.9
brotlipy==0.7.0
configparser==5.2.0
cryptography==3.4.8
cx_Oracle==8.3.0
Cython==0.29.28
dl==0.1.0
docutils==0.17.1
django==3.2.16
HTMLParser==0.0.2
importlib_metadata==4.8.1
ipdb==0.13.11
ipython==8.10.0
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.1.0
lockfile==0.12.2
lxml==4.6.3
MySQL-python==1.2.5
numpy==1.20.3
ordereddict==1.1
Pillow==9.4.0
protobuf==4.21.12
psycopg2==2.9.3
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==23.0.0
pytidylib==0.3.2
pytz==2021.3
pywatchman==1.4.1
pywin32==303
PyYAML==6.0
railroad==0.5.0
Sphinx==4.5.0
tblib==1.7.0
toml==0.10.2
tornado==6.1
xmlrpclib==1.0.1
zipp==3.6.0
